@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* css for header */
.header {
    width: 100%;
    border-bottom: 1px solid black;
}

h1, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.2;
}

.header h1 {
    margin-bottom: 5px ;
}

.header a {
    text-decoration: none;
    color: #054d58;
}

.header h3 {
    font-weight: lighter;
    margin-top: 5px;
    font-size: 1.1rem;
}

/* css for body element */
body {
    font-family: 'Poppins', sans-serif;
}

/* css for navigation */
.navigation ul {
    background-image: linear-gradient(#4ca1af, #c4e0e5);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
}

.navigation li {
    float: left;
}

.navigation li a {
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    transition: 0.4 ease-in-out;
}

.navigation li a:hover {
    color: #ee9ca7;
}

/* css for footer */
.footer{
    clear: both;
    width: 100%;
    background-image: linear-gradient(#4ca1af, #c4e0e5);
    text-align: left;
    border-top: 1px solid black;
}  

.footer h4 {
    text-align: center;
    font-weight: 600;
    color: black;
}

.footer p {
    text-align: center;
    font-size: small;
    color: black;
}

.fa {
    color: black;
    margin: 0 13px;
    cursor: pointer;
}

.footer p a:link,
.footer p a:visited {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    padding: 10px;
    transition: all 0.5s;
}